*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
body{
    width: 100%;
}
.menu{
    width: 100%;
    height: 90px;position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
        background-color: blueviolet;
}
.lista-nav{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    /* background-color: blueviolet; */
    width: 100%;
}
.itens{
    list-style-type: none;
}