@import "tailwindcss";

@theme {
  --color-estrelas: #cd9d1e;
  --color-universo: #202940;
  --color-universot: #2029408b;
}

body {
  width: auto;
}
#home {
  width: 100%;
  background-image: url("../imagens/fundo-p.png");
  background-size: cover;
  background-position: start;
  box-sizing: border-box;
}
.menu {
  box-shadow: 0 4px 80px #131b2da7;
}
header {
  background-image: url("../imagens/fundo-p.png");
  background-size: cover;
  background-position: end;
}

#perfil {
  background-image: url("../imagens/fundo-p2.png");
  background-size: cover;
  background-position: end;
}

/* .menu{
    width: 100%;
    height: 90px;position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
        background-color: blueviolet;
}
.lista-nav{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    
    width: 100%;
}
.itens{
    list-style-type: none;
}  */
